include ../components/text_field/text_field
include ../components/dropdown/dropdown
include ../components/checkbox_buttons/checkbox_buttons
include ../components/radio_buttons/radio_buttons
include ../components/toggle/toggle
include ../components/like_button/like_button

html
    head
        title
        link(rel="stylesheet", href="/style.sass")
    body
        .logo
            img(src="../icons/logo.svg")
        .text-field-default
            p.text-field-title='TEXT FIELD'
            p.text-field-status='DEFAULT'
            +text-field({
                name: 'email',
                type: 'email', 
                placeholder: 'Email',
                content: '',
                pattern: '[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$'
            })
        .text-field-hover
            p.text-field-hover-title='TEXT FIELD'
            p.text-field-hover-status='HOVER / FOCUS'
            +text-field({
                name: 'input-text',
                type: 'text', 
                placeholder: '',
                content: 'This is pretty awesome',
                pattern: ''
            })
        .dropdown-menu
            p.dropdown-title='DROPDOWN'
            p.dropdown-status='DEFAULT'
            +dropdown({
                name: 'dropdown-menu',
                type: 'text',
                content: 'Сколько гостей'
            })
        .checkbox-form
            p.checkbox-form-title='CHECKBOX BUTTONS'
            .checkbox-form-inner
                +checkbox({
                    name: 'checkbox-button-1',
                    type: 'checkbox',
                    value: 'smoke',
                    content: 'Можно курить'
                }) 
                +checkbox({
                    name: 'checkbox-button-2',
                    type: 'checkbox',
                    value: 'pets',
                    content: 'Можно с питомцами',
                    checked: ''
                })
                +checkbox({
                    name: 'checkbox-button-3',
                    type: 'checkbox',
                    value: 'guests',
                    content: 'Можно пригласить гостей (до 10 человек)',
                    checked: ''
                })
        .radio-button-form
            p.radio-button-form-title='RADIO BUTTONS'
            .radio-button-form-inner
                +radio-button({
                    name: 'radio-button-sex',
                    type: 'radio',
                    value: 'male',
                    content: 'Мужчина',
                    checked: ''
                }) 
                +radio-button({
                    name: 'radio-button-sex',
                    type: 'radio',
                    value: 'female',
                    content: 'Женщина'
                })
        .toggle-form
            p.toggle-form-title='TOGGLE'
            .toggle-form-inner
                +toggle({
                    name: 'offer-1',
                    type: 'checkbox',
                    value: 'get special offers',
                    content: 'Получать спецпредложения',
                    checked: ''
                }) 
                +toggle({
                    name: 'offer-2',
                    type: 'checkbox',
                    value: 'get special offers',
                    content: 'Получать спецпредложения'
                })
        .like-button-form
            p.like-button-form-title='LIKE BUTTON'
            .like-button-form-inner
                +like-button({
                    name: 'like-1',
                    value: '2'  
                }) 
                +like-button({
                    name: 'like-2',
                    value: '12',
                    checked: ''
                })
            