mixin radio-button(object)
    label.radio-button-wrap
        input.radio-button(name=object.name type=object.type value=object.value checked=object.checked)
        .radio-button-content=object.content